{% extends "dashboard_ui/base_site.html" %}

{% load humanize %}

{% load static %}

{% block title %}
 ড্যাশবোর্ড
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fas fa-building	"></i> মোট ব্যবহারকারী অফিস</span>
        <div class="count text-primary">{{ data.report_summary_count.office_total | intcomma }}</div>
        <span class="date_number">{{ data.report_summary_count.office_start_year }} -</span>
        <span class="date_number">{{ data.report_summary_count.office_end_year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট ব্যবহারকারী</span>
        <div class="count text-secondary">{{ data.report_summary_count.users_total | intcomma }}</div>
        <span class="date_number">{{ data.report_summary_count.user_start_year }} -</span>
        <span class="date_number">{{ data.report_summary_count.user_end_year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট ব্যবহারকারী (পুরুষ)</span>
        <div class="count text-success">{{ data.report_summary_count.male_users_total | intcomma }}</div>
        <span class="date_number">{{ data.report_summary_count.user_start_year }} -</span>
        <span class="date_number">{{ data.report_summary_count.user_end_year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট ব্যবহারকারী (মহিলা)</span>
        <div class="count text-danger">{{ data.report_summary_count.female_users_total | intcomma }}</div>
        <span class="date_number">{{ data.report_summary_count.user_start_year }} -</span>
        <span class="date_number">{{ data.report_summary_count.user_end_year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট লগইন</span>
        <div class="count text-warning">{{ data.report_summary_count.login_users | intcomma }}</div>
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট লগইন (পুরুষ)</span>
        <div class="count">{{ data.report_summary_count.male_login_users }}</div>
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট লগইন (মহিলা)</span>
        <div class="count">{{ data.report_summary_count.female_login_users | intcomma }}</div>
        <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> -->
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa-solid fa-calculator"></i> নিষ্পত্তিকৃত নথি</span>
        <div class="count green">{{ data.report_summary_count.nispottikritto_nothi | intcomma }}</div>
        <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa-solid fa-calculator"></i> নোট নিষ্পন্ন</span>
        <div class="count">{{ data.report_summary_count.note_nisponno | intcomma }}</div>
        <!-- <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> -->
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa-solid fa-calculator"></i> মোট পত্রজারি</span>
        <div class="count">{{ data.report_summary_count.potrojari | intcomma }}</div>
        <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> মোট উপকারভোগী</span>
        <div class="count text-primary">{{ data.report_summary_count.upokarvogi | intcomma }}</div>
        <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> লগইন মোবাইল ব্যবহারকারী</span>
        <div class="count text-danger">
{{ data.report_summary_count.mobile_app_users | intcomma }}
        </div>
        <span ><i class="green"></i>{{ data.month }}, </span>
        <span class="bangla_summary">{{ data.year }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="login_stack_bar_chart" class="name">
            </div>

          </div>

        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
          <div class="x_panel tile fixed_height_320">
            <div class="x_content bangla_summary">
              <h4>
নিষ্পত্তিকৃত নথি (সর্বশেষ ৫ বছর)
              </h4>
              {% for obj in data.nispottikritto_nothi_plot %}
                <div class="widget_summary">
                  <div class="w_left w_15">
                    <span>{{ obj.year }}</span>
                  </div>
                  <div class="w_center w_50">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ obj.percentage }}%;">
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_35">
                    <span>{{ obj.value | intcomma }}</span>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>


      </div>
    </div>

    <br />

    <div class="row">


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            {% comment %} <h2>Browser usage statistics</h2> {% endcomment %}
            <span style="font-weight:bold; color:#73879c">ব্রাউজার পরিসংখ্যান</span>
            <div class="clearfix">
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              {% comment %} <p>Google Chrome</p> {% endcomment %}
              <p>
গুগুল ক্রোম
              </p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p>
ফায়ারফক্স
              </p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="10">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              <p>
                অন্যান্য
              </p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="20">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                  <!-- <p>Top 5</p> -->
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {% comment %} <p class="">E-mail</p> {% endcomment %}
                    <p class="">
                      ইমেইল
                    </p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class="">
                      ব্যবহারকারী
                    </p>
                    {% comment %} <p class="">E-mail</p> {% endcomment %}
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas class="canvasDoughnut canvasDoughnutEmail" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    <tr>
                      <td>
                        <p style="color: #BDC3C7;">
                          <i class="fa fa-square"></i>জিমেইল
                        </p>
                      </td>
                      <td class="bangla_summary">
                          70%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="color: #9B59B6;">
                          <i class="fa fa-square"></i>ইয়াহু
                        </p>
                      </td>
                      <td class="bangla_summary">
                        20%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="color: #E74C3C;">
                          <i class="fa fa-square"></i>অন্যান্য
                        </p>
                      </td>
                      <td class="bangla_summary">
                        10%
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_content" style="position: relative">
            <span class="operator_title">মোবাইল অপারেটর</span>
            {% comment %} <h2>Mobile Operator</h2> {% endcomment %}
            <figure class="highcharts-figure">
              <div id="mobileOperatorContainer">
              </div>
            </figure>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">

{% include "dashboard_generate/note_nisponno_generic.html" %}

      </div>
    </div>

  </div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}

  <!-- Chart.js -->
  <script src="{% static 'dashboard_ui/vendors/Chart.js/dist/Chart.min.js' %}"></script>
  <!-- gauge.js -->
  <script src="{% static 'dashboard_ui/vendors/gauge.js/dist/gauge.min.js' %}"></script>
  <!-- Skycons -->
  <script src="{% static 'dashboard_ui/vendors/skycons/skycons.js' %}"></script>
  <!-- Flot -->
  <!-- <script src="/static/dashboard_ui/vendors/Flot/jquery.flot.js"></script> -->
  <script src="{% static 'dashboard_ui/vendors/Flot/jquery.flot.js' %}"></script>

  <script src="{% static 'dashboard_ui/vendors/Flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/Flot/jquery.flot.time.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/Flot/jquery.flot.stack.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/Flot/jquery.flot.resize.js' %}"></script>
  <!-- Flot plugins -->
  <script src="{% static 'dashboard_ui/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/flot.curvedlines/curvedLines.js' %}"></script>
  <!-- DateJS -->
  <script src="{% static 'dashboard_ui/vendors/DateJS/build/date.js' %}"></script>
  <!-- JQVMap -->
  <script src="{% static 'dashboard_ui/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
  <script src="{% static 'dashboard_ui/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>

  <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
                                                      <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script> -->

  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


  <!-- <script src="{% static 'js/dashboard_home/nispottikritto_nothi.js' %}"></script> -->
  <script src="{% static 'js/dashboard_home/mobile_operator.js' %}"></script>
  <script src="{% static 'js/dashboard_home/login_stack_bar_chart.js' %}"></script>

{% endblock javascripts %}

{% block custom_js_var %}
{{ data.stack_bar_chart|json_script:"stack_bar_chart" }}
{{ data.nispottikritto_nothi_plot|json_script:"nispottikritto_nothi_plot" }}
{% endblock custom_js_var %}
