<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard_home' %}" class="site_title"><i class="fa fa-spinner"></i> <span>নথি ড্যাশবোর্ড</span></a>
  </div>

  <div class="clearfix"></div>
  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      {# <h3>General</h3> #}
      <ul class="nav side-menu">
        <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-home"></i>ড্যাশবোর্ড<span class="fa"></span></a>
          <ul class="nav child_menu">
          </ul>
        </li>
        <li><a><i class="fa-solid fa-chart-line"></i> নথি ব্যবহারকারী<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'nothi_users_total' %}">মোট ব্যবহারকারী</a></li>
            <li><a href="{% url 'nothi_users_male' %}">মোট ব্যবহারকারী (পুরুষ)</a></li>
            <li><a href="{% url 'nothi_users_female' %}">মোট ব্যবহারকারী (মহিলা)</a></li>
            <li><a href="{% url 'mobile_app_users' %}">মোবাইল অ্যাপ ব্যবহারকারী</a></li>
          </ul>
        </li>
        <li><a><i class="fa-solid fa-chart-line"> </i>  লগইন পরিসংখ্যান<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'login_total_users' %}">মোট লগইন</a></li>
            <li><a href="{% url 'login_male_users' %}">মোট লগইন (পুরুষ)</a></li>
            <li><a href="{% url 'login_female_users' %}">মোট লগইন (মহিলা)</a></li>
            <li><a href="{% url 'ministry_wise_total_login' %}">মন্ত্রনালয় ভিত্তিক লগইন</a></li>
          </ul>
        </li>
        <li><a><i class="fa-solid fa-chart-line"></i> নথি<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'nispottikritto_nothi' %}">নিষ্পত্তিকৃত নথি</a></li>
            <li><a href="{% url 'note_nisponno' %}">নোট নিষ্পন্ন</a></li>
            <li><a href="{% url 'potrojari' %}">মোট পত্রজারি</a></li>
          </ul>
        </li>
        {% comment %} <li><a><i class="fa-solid fa-chart-line"></i> পত্রজারি<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'potrojari' %}">মোট পত্রজারি</a></li>
          </ul>
        </li> {% endcomment %}
        <li><a><i class="fa-solid fa-chart-line"></i> অন্যান্য<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'total_upokarvogi' %}">মোট উপকারভোগী</a></li>
            <li><a href="{% url 'total_offices' %}">অফিস</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {# <div class="menu_section"> #}
    {#   <h3>Live On</h3> #}
    {#   <ul class="nav side-menu"> #}
    {#     <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a> #}
    {#       <ul class="nav child_menu"> #}
    {#         <li><a href="e_commerce.html">E-commerce</a></li> #}
    {#         <li><a href="projects.html">Projects</a></li> #}
    {#         <li><a href="project_detail.html">Project Detail</a></li> #}
    {#         <li><a href="contacts.html">Contacts</a></li> #}
    {#         <li><a href="profile.html">Profile</a></li> #}
    {#       </ul> #}
    {#     </li> #}
    {#     <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a> #}
    {#       <ul class="nav child_menu"> #}
    {#         <li><a href="page_403.html">403 Error</a></li> #}
    {#         <li><a href="page_404.html">404 Error</a></li> #}
    {#         <li><a href="page_500.html">500 Error</a></li> #}
    {#         <li><a href="plain_page.html">Plain Page</a></li> #}
    {#         <li><a href="login.html">Login Page</a></li> #}
    {#         <li><a href="pricing_tables.html">Pricing Tables</a></li> #}
    {#       </ul> #}
    {#     </li> #}
    {#     <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a> #}
    {#       <ul class="nav child_menu"> #}
    {#           <li><a href="#level1_1">Level One</a> #}
    {#           <li><a>Level One<span class="fa fa-chevron-down"></span></a> #}
    {#             <ul class="nav child_menu"> #}
    {#               <li class="sub_menu"><a href="level2.html">Level Two</a> #}
    {#               </li> #}
    {#               <li><a href="#level2_1">Level Two</a> #}
    {#               </li> #}
    {#               <li><a href="#level2_2">Level Two</a> #}
    {#               </li> #}
    {#             </ul> #}
    {#           </li> #}
    {#           <li><a href="#level1_2">Level One</a> #}
    {#           </li> #}
    {#       </ul> #}
    {#     </li> #}
    {#     <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li> #}
    {#   </ul> #}
    {# </div> #}
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  {# <div class="sidebar-footer hidden-small"> #}
  {#   <a data-toggle="tooltip" data-placement="top" title="Settings"> #}
  {#     <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> #}
  {#   </a> #}
  {#   <a data-toggle="tooltip" data-placement="top" title="FullScreen"> #}
  {#     <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> #}
  {#   </a> #}
  {#   <a data-toggle="tooltip" data-placement="top" title="Lock"> #}
  {#     <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> #}
  {#   </a> #}
  {#   <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html"> #}
  {#     <span class="glyphicon glyphicon-off" aria-hidden="true"></span> #}
  {#   </a> #}
  {# </div> #}
  <!-- /menu footer buttons -->
</div>
