{% extends 'monthly_report/base.html' %}
{% load crispy_forms_tags %}

{% block title %}রিপোর্ট{% endblock %}
{% block inline_css %}

{% endblock inline_css %}

{% block body_block %}
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="submit" value="Submit">
      </form>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="table-wrapper">
          <table class="table table-striped table-hover caption-top">
            <thead>
              <tr>
                <th scope="col">রিপোর্ট টাইপ</th>
                <th scope="col">report</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">মোট অফিস</th>
                <td class="total_office">{{ offices.total_offices.count }}</td>
              </tr>
              <tr>
                <th scope="row">নিষ্পত্তিকৃত নথি</th>
                <td class="nispotti_krito_nothi">{{ nisponno_records.nispottikritto_nothi.count }}</td>
              </tr>
              <tr>
                <th scope="row">মোট উপকারভোগী</th>
                <td class="total_upokarvogi">{{ nisponno_records.upokarvogi.count }}</td>
              </tr>
              <tr>
                <th scope="row">নোট নিষ্পন্ন</th>
                <td class="total_nisponno">{{ nisponno_records.note_nisponno.count }}</td>
              </tr>
              <tr>
                <th scope="row">পত্রজারি</th>
                <td class="total_potrojari">{{ nisponno_records.potrojari.count }}</td>
              </tr>
              <tr>
                <th scope="row">মোট নথি ব্যবহারকারী (পুরুষ)</th>
                <td class="total_nothi_users_male">{{ users_employee_records.nothi_users_male.count }}</td>
              </tr>
              <tr>
                <th scope="row">মোট নথি ব্যবহারকারী (মহিলা)</th>
                <td class="total_nothi_users_female">{{ users_employee_records.nothi_users_female.count }}</td>
              </tr>
              <tr>
                <th scope="row">মোবাইল অ্যাপ ব্যবহারকারী</th>
                <td class="total_mobile_app_users">{{ user_login_history.mobile_app_users.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# {% block local_js %} #}
{# {%  endblock local_js %} #}
