
{% extends 'dashboard_ui/base_site.html' %}

{% load static %}

{% block title %}
মন্ত্রনালয় মোট লগইন
{% endblock title %}

{% block content %}
  <script src="{% static 'js/utils.js' %}"></script>
  <script charset="utf-8">var ministry_map = {{ ministry_map | safe }};</script>

  <div class="right_col">
    <div class="row">
      <div id="report_last_update">
        <span>{{ report_start_date |date:'d-m-Y ' }}</span>-
        <span>{{ report_end_date |date:'d-m-Y ' }}</span>
      </div>
      <div class="col-sm-12 col-md-12">
        <div>
          <figure class="highcharts-figure">
            <div id="container2"></div>
            <p class="highcharts-description"></p>
          </figure>

        </div>

      </div>
    </div>
  </div>
{% endblock content %}
{% block custom_js_var %}
  <script src="{% static 'js/dashboard_generate/ministry_wise_total_login.js' %}"></script>
{% endblock custom_js_var %}
