{% extends 'dashboard_generate/base.html' %}
{% load static %}

{% block title %}মোট উপকারভোগী{% endblock %}
{% block main_content %}
  <div>
    <script src="{% static 'js/utils.js' %}"></script>
    <script charset="utf-8">
      var year_map = {{ year_map | safe }};
      var month_map = {{ month_map | safe }};
      var day_map = {{ day_map | safe }};
    </script>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-custom2">
            মোট উপকারভোগী
        </div>
        <div class="card-body">
          <div id="chart_top_illness">

            <figure class="highcharts-figure">
              <div id="container"></div>
              <p class="highcharts-description">
                 <!-- মোট উপকারভোগী(বার্ষিক এবং মাসিক) -->
              </p>
            </figure>

            <script>
              // Create the chart
              let level = 1;
              let first_level_title = 'বার্ষিক উপকারভেগী'
              let second_level_title = 'মাসিক উপকারভেগী'
              let third_level_title = 'দৈনিক উপকারভেগী'

              Highcharts.chart('container', {
                chart: {
                  type: 'column',
                  events: {
                    drilldown: function (e) {
                      level = level + 1
                      if (level == 1){
                        this.setTitle({ text: first_level_title });
                      }
                      if (level == 2){
                        this.setTitle({ text: second_level_title });
                      }
                      if (level == 3){
                        this.setTitle({ text: third_level_title });
                      }
                    },
                    drillup: function (e) {
                      level = level - 1;
                      if (level == 1){
                        this.setTitle({ text: first_level_title });
                      }
                      if (level == 2){
                        this.setTitle({ text: second_level_title });
                      }
                      if (level == 3){
                        this.setTitle({ text: third_level_title });
                      }
                    }
                  }
                },
                title: {
                  text: 'বার্ষিক উপকারভোগী'
                },
                subtitle: {
                  text: ''
                },
                accessibility: {
                  announceNewData: {
                    enabled: true
                  }
                },
                xAxis: {
                  type: 'category'
                },
                yAxis: {
                  title: {
                      text: 'উপকারভোগী সংখ্যা'
                  }

                },
                credits: {
                  enabled: false
                },
                legend: {
                  enabled: false
                },
                plotOptions: {
                  series: {
                    borderWidth: 0,
                    dataLabels: {
                      enabled: true,
                    }
                  }
                },

                tooltip: {
                  {# headerFormat: '<span style="font-size:11px">{series.name}</span><br>', #}
                  {# pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>' #}
                  headerFormat: '<span style="font-size:11px"> </span>',
                  pointFormat: '<span style="color:{point.color}"><b>{point.y}</b><br/>'
                },

                series: generateGeneralSeries(year_map, 'year'),
                drilldown: {
                  series: generateDrilldownSeries(year_map, month_map, day_map)
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}